@mixin lg-block() {
   @media screen and (max-width: $break_lg) {
      @content;
   }
}

@mixin md-block() {
   @media screen and (max-width: $break_md) {
      @content;
   }
}

@mixin sm-block() {
   @media screen and (max-width: $break_sm) {
      @content;
   }
}

@mixin xs-block() {
   @media screen and (max-width: $break_xs) {
      @content;
   }
}

@mixin xxs-block() {
   @media screen and (max-width: $break_xxs) {
      @content;
   }
}

@mixin from($min_width) {
   @media screen and (min-width: $min_width) {
      @content;
   }
}

@mixin to($max_width) {
   @media screen and (max-width: $max_width) {
      @content;
   }
}

@mixin from-to($min_width, $max_width) {
   @media screen and (min-width: $min_width) and (max-width: $max_width) {
      @content;
   }
}

@mixin code() {
   background-color: $code_background_color;
   transition: 0.3s ease;
   display: block;
   padding: 1em;
   border-radius: 5px;
   overflow-x: auto;
   overflow-y: auto;
   max-height: 600px;
   font-family: monospace, monospace, sans-serif;
   line-height: 1.6;
   font-size: 14px;
   color: #6e6e6e;

   &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
   }

   &::-webkit-scrollbar-thumb {
      background: #424242;
      border-radius: 8px;
   }
}

@mixin reset() {
   body,
   div,
   dl,
   dt,
   dd,
   ul,
   li,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   pre,
   code,
   form,
   fieldset,
   input,
   textarea,
   p,
   blockquote,
   th,
   td {
      margin: 0;
      padding: 0;
   }
   table {
      border-collapse: collapse;
      border-spacing: 0;
   }
   fieldset,
   img,
   abbr {
      border: 0;
   }
   address,
   caption,
   cite,
   code,
   dfn,
   em,
   strong,
   th,
   var {
      font-style: normal;
      font-weight: normal;
   }
   ul li {
      list-style: none;
   }
   caption,
   th {
      text-align: left;
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-size: 100%;
      font-weight: normal;
   }
   sup {
      vertical-align: text-top;
   }
   sub {
      vertical-align: text-bottom;
   }
   input,
   textarea,
   select {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
   }
   legend {
      color: #000;
   }
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section,
   main {
      display: block;
   }
   img {
      max-width: 100%;
      height: auto;
   }
}
